= image_tag @recipe.picture.url, :width => 400, :height => 400, class: "recipe_image"
%h1= @recipe.title
%p= @recipe.description 

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_recipe_path, class: "btn btn-default"
= link_to "Delete", recipe_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
